
// Import Upbase
@import "upbase/scss/upbase";

$green: #4ae0ae;

// Project styles go here
body {
	font-family: "news-gothic-std", 'Oswald', sans-serif;
	// background-color: #1d2422;
	// color: #CCC;
	color: #1d2422;
	background-color: #F4F7F6;
	font-size: 1.2em;
}

nav a {
	margin-right: 10px;
}

a {
	color: darken($green, 11); 
	text-decoration: none;
	&:hover {
		color:$green;
	}
}

.main-link {
	font-weight: 600;
	font-style: italic;
	font-size: 16px;
	text-transform: uppercase;
}

p, h6 {
	font-size:19.2px;
	font-weight: 300;
	line-height: 1.4;
}

h6 {
	margin-top: 0;
	margin-bottom: 10px;
	.title {
		font-weight: 500;
		padding-right: 2px;
	}
}

p {
	
	a {
		
	}
	&:first-of-type {
		margin-top: 0;
	}
}

#work section {
	margin-bottom: 40px;
	h3 {
		margin-bottom: 5px;
	}
}

.index-article, .intro {
	margin-bottom: 80px;
}

h1 {
	font-size: 3em;
	margin-bottom: 10px;
}

h1, h2, h3, h4 {
	font-weight: 700;
	line-height: 1.2;
}

#reading .content {
	@media (min-width: 800px) {
		column-count: 2;
		column-gap: 60px;
	}
	@media (min-width: 1400px) {
		column-count: 3;
	}
}


.main {
	margin: auto;
	@media (min-width: 400px) {
		width:90%;
	}
	@media (min-width: 1000px ) {
		width:80%;
	}
	padding-bottom: 100px;
}