
// Import Upbase
@import "upbase/scss/upbase";

$green: #4ae0ae;

// Project styles go here
body {
	font-family: 'Oswald', sans-serif;
	background-color: #1d2422;
	color: #CCC;
	font-size: 1.2em;
}

a {
	color: $green; text-decoration: none;
}

p, h6 {
	font-size:19.2px;
	font-weight: 300;
}

h6 {
	margin-top: 0;
	margin-bottom: 10px;
	.title {
		font-weight: 500;
		padding-right: 5px;
	}
}

p {
	
	a {
		
	}
	&:first-of-type {
		margin-top: 0;
	}
}

#work section {
	margin-bottom: 40px;
	h3 {
		margin-bottom: 5px;
	}
}

h1 {
	font-size: 2em;
}

h1, h2, h3, h4 {
	font-weight: 500;
}

#reading .content {
	@media (min-width: 800px) {
		column-count: 2;
	}
	@media (min-width: 1400px) {
		column-count: 3;
	}
}


.main {
	margin: auto;
	@media (min-width: 400px) {
		width:90%;
	}
	@media (min-width: 1000px ) {
		width:80%;
	}
	padding-bottom: 100px;
}