---
title: jared.uno
---
{% extends "layouts/base.twig" %}

{% block content %}
<article id="work" class="index-article">
	<h2>Things I've Done</h2>
	<section>
		<h3>Upstatement</h3>
		<p>
			I started a design & technology firm with three friends from college — we're now a 29-person agency in downtown Boston with clients all over the world.
		</p>
	</section>
	<section>
		<h3>Timber</h3>
		<p>
			I was frustrated with how hard it was to build WordPress sites, so I built a framework for doing it better. That code now powers sites for Upstatement and tens of thousands of sites around the world, including those for the <a href="https://www.pbs.org/newshour/">PBS</a>, <a href="https://spotifyforbrands.com/en-US/">Spotify</a> and <a href="https://www.obama.org/">Barack Obama</a>.
		</p>
	</section>
	<section>
		<h3>The Boston Globe & Houston Chronicle</h3>
		<p>
			I was the first newsroom developer at these newspapers. In my time I focused on building tools for the newsroom to multiply the power of producers and journalists to add visual and interactive content to their work. We also built some of the first live-data visualizations for the 2006 and 2008 elections. 
		</p>
	</section>
	<section>
		<h3>The Daily Orange</h3>
		<p>
			My real education in college came from the student newspaper. We wrote, designed, broke stories, <a href="http://dailyorange.com/2005/10/your-student-fee-hilltv-s-over-the-hill-prompts-re-evaluation-of-programming/">uncovered scandal</a>, fought with administrators, managed a business — all without a single administrator or professor looking over our shoulders. 
		</p>
	</section>
</article>

<article id="reading" class="index-article">
	<h2>Things I've Read</h2>
	<p>I'm a crazy reader. These are some of the important books and articles that have mattered to me.</p>
	<div class="content">
	{% for item in data.reading.books %}
		<section>
			<h6>{{ item.url ? '<a href="' ~ item.url ~ '" target="_blank">' }} 
				<span class="title">{{ item.title }}</span>
				{{ item.url ? '</a>'}}{{ item.subtitle }}</h6>
		</section>
	{% endfor %}
	</div>
</article>
{% endblock %}
