---
title: jared.uno
---
{% extends "layouts/base.twig" %}

{% block content %}
<article id="work" class="index-article">
	<h2>Things I've Done</h2>
	<section>
		<h3>Upstatement <a href="https://upstatement.com" class="main-link">Our work</a></h3>
		<p>
			In 2008 I started a design & technology firm with three friends from college. We're now a 29-person agency in downtown Boston with clients all over the world.
		</p>
	</section>
	<section>
		<h3>Timber <a href="https://github.com/timber/timber" class="main-link">GitHub</a></h3>
		<p>
			Frustrated with how hard it was to build WordPress sites, I built a framework for doing it better. That code now powers sites for Upstatement and tens of thousands of sites around the world, including those for the <a href="https://www.pbs.org/newshour/">PBS</a>, <a href="https://spotifyforbrands.com/en-US/">Spotify</a> and <a href="https://www.obama.org/">Barack Obama</a>. 
		</p>
	</section>
	<section>
		<h3>The Boston Globe & Houston Chronicle</h3>
		<p>
			I was the first newsroom developer at these newspapers. In my time I focused on building tools for the newsroom to multiply the power of producers and journalists to add visual and interactive content to their work. We also built some of the first live-data visualizations for the 2006 and 2008 elections. 
		</p>
	</section>
	<section>
		<h3>The Daily Orange</h3>
		<p>
			My real education in college came from the student newspaper at Syracuse. We wrote, designed, broke stories, <a href="http://dailyorange.com/2005/10/your-student-fee-hilltv-s-over-the-hill-prompts-re-evaluation-of-programming/">uncovered scandal</a>, fought with administrators, managed a business — all without a single administrator or professor looking over our shoulders. 
		</p>
	</section>
</article>

<article id="reading" class="index-article">
	<h2>Things I've Read</h2>
	<p>These are some of the books and articles that have mattered to me.</p>
	<div class="content">
	{% for item in data.reading.books %}
		<section>
			<h6>{{ item.url ? '<a href="' ~ item.url ~ '" target="_blank">' }} 
				<span class="title">{{ item.title }}</span>
				{{ item.url ? '</a>'}}{{ item.subtitle }}</h6>
		</section>
	{% endfor %}
	</div>
</article>

<article id="talks" class="index-article">
	<h2>Talks I've Given</h2>
	<p>I've liked gasbagging in front of an audience ever since I won the third grade talent show*. I'm always on the lookout for future opportunities, <a href="mailto:jared@upstatement.com">email me</a> if you have one.</p>
	<div class="content">
		<section>
			<h6><a href="https://www.slideshare.net/JaredNovack/fuck-this-fucking-agile-bullshit" target="_blank">
				<span class="title">Fuck this Fucking Agile Bullshit</span></a>
				Underneath the sprint reviews, pointing, and backlog groomings have we lost the true meaning of Agile? (Hint: we have)
			</h6>
		</section>

		<section>
			<h6><a href="https://www.slideshare.net/JaredNovack/deploy-first-develop-later" target="_blank">
				<span class="title">Deploy First, Develop Later</span></a>
				Deployment isn't a "last step" it should be the first step in a software development process to ensure the whole of the cycle is understood from the start
			</h6>
		</section>

		<section>
			<h6><a href="https://www.slideshare.net/JaredNovack/reheating-leftovers-a-culinary-journey" target="_blank">
				<span class="title">Reheating Leftovers: A Culinary Journey</span></a>
				Anyone can make a fresh dish, it takes a true chef to "remix" culinary achievement into a transcendent experience. In this presentation we'll cover key ideas behind reheating pastas, sandwiches, pizza and more.
			</h6>
		</section>

		<section>
			<h6><a href="https://www.slideshare.net/JaredNovack/positivity-fuck-yeah" target="_blank">
				<span class="title">Positivity, Fuck Yeah!</span></a>
				Being positive isn't about puppies, rainbows or even being nice — it's about describing your vision in a clear way instead of the things that "it's not."
			</h6>
		</section>

		<section>
			<h6><a href="https://www.slideshare.net/JaredNovack/the-gtd-programming-language" target="_blank">
				<span class="title">The GTD Programming Language</span></a>
				What do Tom Cruise, Will Smith and David Allen all have in common? If you said "IRS investigation" you're correct! But if you also said "a framework for organization and achievement" you're much closer to the relevant commonality behind this presentation.
			</h6>
		</section>
	</div>
	<p class="endnote">* It's true that Jenny Buck won the actual vote count, but most agreed that her magic act was weak and was carried by having more friends.</p>
</article>
{% endblock %}
