<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ current_page.title }}</title>

    {% block styles %}
      <link href="https://fonts.googleapis.com/css?family=Oswald:300,500,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% endblock %}
    
    <script type="text/javascript" src="/static/js/modernizr.js"></script>
    
  </head>
  <body>
    <div class="main">
      <section class="intro">
      <h1>Jared Novack</h1>
      <p>Jared is a technologist, designer and Mr. Manager from St. Louis — but he lives in Boston nowadays.</p>
      <nav class="social">
        <a href="htts://twitter.com/jarednova">Twitter</a>
        <a href="https://github.com/jarednova">GitHub</a>
        <a href="mailto:jared@upstatement.com">E-mail</a>
      </nav>
    </section>

  {% block content %}{% endblock %}

     </div>

  {% block scripts %}
  <!-- build:js /static/js/vendor.js -->
  
  <!-- endbuild -->

  
  <script type="text/javascript" src="/static/js/main.js"></script>
  

  {% endblock %}
  </body>
</html>
